body,html{
    margin: 0
}
html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    width: 100%;
    height: 100%;
}

#score{
    position: absolute;
    top: 1%;
    left: 0.5%;
    font-family: 'Tomorrow', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: lightgray;
}
canvas{
    width: 100%;
    height: 100%;
    background-image: url(images/istockphoto-905636222-612x612.jpg);
}